<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Drone Delivery - after (Microservice)</title>
</head>
<body>
    <h1>Drone Delivery - after (Microservice)</h1>
    <div>For the swagger UI page, please go <a href="/swagger">here</a>.</div>
</body>
</html>
