<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Drone Delivery - after (Microservice)</title>
</head>
<body>
    <h1>Drone Delivery - after (Microservice)</h1>
    <form action="~/Home/SendRequests" method="post">
        <button type="submit">Send Requests</button>
    </form>
</body>
</html>
