<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Drone Delivery - after (Microservice): Send Requests</title>
</head>
<body>
    <h1>Drone Delivery - after (Microservice): Send Requests</h1>
    <h3>@ViewBag.Message</h3>
</body>
</html>
